hr{
    margin: 0;
}
.rodape{
    font-family: var(--Fonte-Principal);
    padding: 1em;
    width: 200;
}
@media screen and (min-width: 1728px) {
    .rodape{
        text-align: center;
    }
}
@media screen and (min-width: 1024px) {
    .rodape{
        text-align: center;
    }
}
